export FLY_APP_NAME="fly-airship";
export FLY_API_TOKEN=$(fly tokens deploy -a fly-airship);
export FLY_MACHINE_ID=$(random)

export AIRSHIP_SERVER_URL="http://localhost:8080";
export INTERFACE_NAME="wlp4s0";

use flake;
